#footer 
 .last-wrapper 
      .container 
       .row.justify-content-xl-between.justify-content-center.align-items-center 
        .col-xl-4.col-md-6.col-12
          ul.text-lg-right
            li Mobil ilovalar
            li Yordam
            li Pullik xizmatlar
            li OLX-da biznes
            li Saytda reklama
            li Foydalanish shartlari
            li Maxfiylik siyosati
        .col-xl-4.col-md-6.col-12
          ul.text-lg-left 
            li Qanday sotib olish va sotish?
            li Xavfsizlik qoidalari
            li Sayt xaritasi
            li Mintaqalar xaritasi
            li Career
            li Teskari aloqa
            li Hamkorlar
        .col-xl-4.col-md-6.col-12.icon-page 
          i.fab.fa-cc-mastercard
          i.fab.fa-cc-visa
          i.fab.fa-cc-paypal
          i.fab.fa-cc-apple-pay
          i.fab.fa-cc-amazon-pay
 .container-fluid
  .icon-page 
    i 
     a.span(href="https://t.me/otabek212").fab.fa-telegram
    i
     a.span(href="https://www.instagram.com/komilov2829/").fab.fa-instagram
    i
     a.span(href="https://www.facebook.com/OTABEK212").fab.fa-facebook-square
    i
     a.span(href="https://t.me/otabek212").fab.fa-weixin
    i
     a.span(href="https://ok.ru/profile/574781821458").fab.fa-odnoklassniki-square
    i
     a.span(href="https://t.me/otabek212").fab.fa-twitter
    i
     a.span(href="https://t.me/otabek212").fab.fa-whatsapp
    i
     a.span(href="https://t.me/otabek212").fab.fa-viber
    i
     a.span(href="https://t.me/otabek212").fab.fa-youtube
    i
     a.span(href="https://t.me/otabek212").fab.fa-github
 
  p &copy2021 All Rights Reserved | Created By 
   a.span(href="https://t.me/otabek212") Otabek
   
script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js", integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==", crossorigin="anonymous", referrerpolicy="no-referrer")
script(src= "/javascripts/index.js")
