extends layout
block  content 
  #login
    .container-fluid.m-0.p-0
        .col-sm-5.m-auto
            h1.text-center.pt-5 #{title}
            form(action="/register/login" method="post")
                .mb-3
                    label.form-label(for="exampleInputEmail1") Login 
                    input.form-control#exampleInputEmail1(type="text" aria-describedby="emailHelp" name="login")
                .mb-3.m-auto
                    label.form-label(for="exampleInputEmail1" ) Password
                    input.form-control#password(type="password" minlength="6" aria-describedby="emailHelp" name="password")
                    i.far.fa-eye.open
                    i.far.fa-eye-slash.close
                a(href="/register").btn.btn-warning Ro'yhatdan O'tish
                button.btn.btn-primary(type="submit") Kirish
               
