.navbars 
    nav.navbar.navbar-expand-lg
        .container
            a.navbar-brand(href='/') olx
            form.d-flex.formFor(action="")
                input.form-control.me-2(type='search' class='search' placeholder='Search' aria-label='Search')
                button.btn.btn-grad.p-1(type='submit') Qidiruv
            .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav
                li.nav-item
                a.nav-link(href='/user').i.fas.fa-user-alt   Profil
                