extends layout
block  content 
 #register
    .container-fluid.m-0.p-0
        .col-5.m-auto
            h1.text-center.pt-3 #{title}
            form(action="/register" method="post")
                .mb-3
                    label.form-label(for="exampleInputEmail1") Name
                    input.form-control#exampleInputEmail1(type="text" maxlength='12'  aria-describedby="emailHelp" name="names")
                .mb-3
                    label.form-label(for="exampleInputEmail1") Login 
                    input.form-control#exampleInputEmail1(type="text" maxlength='12' aria-describedby="emailHelp" name="login")
                .mb-3
                    label.form-label(for="exampleInputEmail1") Phone 
                    input.form-control#exampleInputEmail1(type="text" maxlength='12' aria-describedby="emailHelp" name="phone")
                .mb-3
                    label.form-label(for="exampleInputEmail1") Password
                    input.form-control#password(type="password" aria-describedby="emailHelp" minlength='6' name="password")
                    i.far.fa-eye.open
                    i.far.fa-eye-slash.close
                button.btn.btn-primary.w-100(type="submit") Submit
               
